@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #ff1a1a;
}

.btn-main {
  background: #ff1a1a;
  color: #fff;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 2000px;
  transition: background-color 0.7s, color 0.8s;
}
.btn-main:hover {
  background-color: rgb(172, 10, 10);
}

.btn-transparent {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 14px 35px;
  border-radius: 2000px;
}
.btn-transparent:hover {
  color: #fff;
}

.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #2c2f33;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 2000px;
  transition: background-color 0.7s, color 0.8s;
}
.btn-white:hover {
  color: #fff;
  background-color: #2c2f33;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.section {
  padding: 100px 0;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 40px 0;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.parallax-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding-bottom: 50px;
  overflow: hidden;
}
.title h2 {
  font-weight: 600;
  font-size: 35px;
  color: #232323;
}
.title p {
  color: #848484;
  margin: 0 auto;
}
.title.title-white h2 {
  color: #fff;
}

.border {
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #ff1a1a;
}

.bg-gray {
  background: #f9f9f9;
}

.header-bradcrumb {
  background: transparent;
}
.header-bradcrumb a,
.header-bradcrumb .active {
  color: #cfcfcf;
  font-weight: 200;
  font-family: "Manrope", sans-serif;
}
.header-bradcrumb a:hover {
  color: #ff1a1a;
}

.slick-slide {
  outline: none;
}

.navigation {
  padding: 15px 0;
  transition: 0.5s all;
}
.navigation .logo-default {
  display: none;
}
.navigation .dropdown-toggle::before, .navigation .dropdown-toggle::after {
  display: none;
}
.navigation .dropdown-toggle i {
  font-size: 10px;
  margin-left: 2px;
  vertical-align: 2px;
}
.navigation .navbar-light .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 20px 15px;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out 0s;
}
.navigation .navbar-light .navbar-nav .nav-item .nav-link:hover, .navigation .navbar-light .navbar-nav .nav-item .nav-link:active, .navigation .navbar-light .navbar-nav .nav-item .nav-link:focus {
  background: none;
  color: #ff1a1a;
}
@media (max-width: 991px) {
  .navigation .nav-link {
    padding: 6px !important;
  }
  .navigation .navbar-collapse.show {
    overflow-y: auto;
    max-height: calc(100vh - 55px);
  }
}
.navigation .dropdown-submenu .dropdown-menu {
  margin: 0;
  background-color: #131313;
}
@media (min-width: 992px) {
  .navigation .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: -5px;
  }
  .navigation .dropleft .dropdown-menu {
    left: auto;
    right: 100%;
    margin: 0;
    top: -5px;
  }
  .navigation .dropdown-submenu .dropdown-menu {
    background-color: #000;
  }
}
.navigation .dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.navigation .dropdown-menu {
  border: 0;
  border-radius: 0;
  top: 80%;
  left: 5px;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5803921569);
  transition: 0.3s ease;
}
.navigation .dropdown-menu li:first-child {
  margin-top: 12px;
}
.navigation .dropdown-menu li:last-child {
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .navigation .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    text-align: center;
    transition: 0s;
  }
}
@media (max-width: 991px) {
  .navigation .dropdown-menu.show {
    display: block;
  }
  .navigation .dropdown-menu {
    float: left;
    width: 100%;
  }
}
.navigation .dropdown-item {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s ease;
  padding: 8px 22px;
}
.navigation .dropdown-item:focus, .navigation .dropdown-item:hover {
  color: #ff1a1a;
  background: transparent;
}

@media (max-width: 991px) {
  .navigation {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }
  .navigation .navbar-light .navbar-nav .nav-item .nav-link {
    color: #000;
  }
  .navigation .logo-white {
    display: none;
  }
  .navigation .logo-default {
    display: block;
  }
  .navigation .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }
}
.sticky-header {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
}
.sticky-header .navbar-light .navbar-nav .nav-item .nav-link {
  color: #000;
}
.sticky-header .logo-white {
  display: none;
}
.sticky-header .logo-default {
  display: block;
}

.navbar-brand {
  height: auto;
  padding: 8px 0;
}

.navbar-brand h1 {
  margin: 0;
}

.hero-area {
  background-image: url("../images/hero-bg/hero-2.jpg");
  background-size: cover;
  height: 115vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 200px;
  overflow: hidden;
}
.hero-area:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59) 27%, rgba(0, 0, 0, 0.59));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-area .block {
  color: #fff;
}
.hero-area .block .content-hero {
  display: grid;
  grid-template-columns: 70% 30%;
}
.hero-area .block .content-hero .content-title {
  flex: 1;
}
.hero-area .block .content-hero .content-title h1 {
  margin-top: 140px;
  font-family: "Manrope", sans-serif;
  font-size: 120px;
  font-weight: 800;
  line-height: 90%;
  letter-spacing: -10px;
  text-align: left;
}
.hero-area .block .content-hero .content-title h1 > span {
  color: #ff1a1a;
}
.hero-area .block .content-hero .content-text {
  flex: 1;
  padding-top: 70%;
}
.hero-area .block .content-hero .content-text hr {
  color: #fff;
}
.hero-area .block .content-hero .content-text p {
  color: #fff;
  width: 98%;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.hero-area .block .content-hero .content-text .btn-main {
  padding: 20px 45px;
  margin: 20px 7px 0 0;
}
.hero-area .block .content-hero .content-text .btn-white {
  color: #2c2f33;
  background-color: #fff;
  padding: 20px 45px;
  margin: 20px 1px 0 0;
}
.hero-area .block .content-hero .content-text .btn-white:hover {
  color: #fff;
  background-color: #383d43;
}

.about {
  padding: 100px 12px 100px 0;
  background: #e2e2e4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.about .title > h2 {
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #6d8084;
  text-align: initial;
  margin: 40px 0 30px 0;
}
.about .title > p {
  width: 80%;
  float: left;
  text-align: left;
  font-size: 75px;
  font-weight: 700;
  letter-spacing: -5px;
  color: #333333;
  line-height: 75px;
  margin-bottom: 50px;
}
.about .title > p > span {
  color: #ff1a1a;
}
.about .about-card {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.about .about-card-02 {
  margin-top: 20px;
  display: flex;
  position: relative;
  justify-content: flex-start;
}
.about .imgBox, .about .mission-img, .about .how-img {
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  border-radius: 40px;
}
.about .imgBox, .about .about-content, .about .about-content-02 {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.about .about-content-02 {
  margin-right: 20px;
}
.about .about-content {
  margin-left: 20px;
}
.about .about-content, .about .about-content-02 {
  width: 770px;
  height: 500px;
  border-radius: 40px;
  background-color: #fff;
  padding: 35px;
  overflow: hidden;
}
.about .about-content .about-ico, .about .about-content-02 .about-ico {
  width: auto;
  height: 50px;
}
.about .about-content > h3, .about .about-content-02 > h3 {
  margin-top: 35px;
  color: #ff1a1a;
  font-family: "Manrope", sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1.75px;
  line-height: 45px;
  text-size-adjust: 100%;
}
.about .about-content .sub-title, .about .about-content-02 .sub-title {
  margin-top: 35px;
  color: rgb(44, 47, 51);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 120%;
}
.about .about-content .about-text, .about .about-content-02 .about-text {
  margin-top: 28px;
  color: #6d8084;
  font-family: "Manrope", sans-serif;
  font-family: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 150%;
  text-size-adjust: 100%;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .about .container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
  }
  .about .container .about-card {
    flex-direction: column;
    max-width: 350px;
  }
  .about .container .about-card .imgBx {
    max-width: 100%;
  }
  .about .container .about-card .about-content {
    margin-left: 0px;
  }
}

.our-value {
  background: url("/images/light-site-bg.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
}
.our-value .container {
  display: flex;
  flex-wrap: wrap;
}
.our-value .title {
  flex: 0 0 40%;
}
.our-value .title > h2 {
  margin-top: 40px;
  text-align: start;
  font-family: "Manrope", sans-serif;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: -8px;
  color: #333333;
  line-height: 100%;
}
.our-value .title > h2 > span {
  color: #ff1a1a;
}
.our-value .accordion {
  flex: 0 0 60%;
  width: 100%;
  margin: auto;
}
.our-value .accordion .accordion-body p {
  color: #999999;
  font-size: 20px;
  padding: 20px;
}
.our-value .accordion-item {
  background: rgba(255, 255, 255, 0.4862745098);
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.our-value .accordion-item h2 .accordion-button {
  background: none;
  text-transform: initial;
  color: #ff1a1a;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-weight: 800;
  padding: 20px 35px;
  box-shadow: none;
}

.contact-us {
  padding: 100px 0;
  background: url("/images/light-site-bg.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.contact-us .container {
  display: flex;
  flex-wrap: wrap;
}
.contact-us .title,
.contact-us .contact-form {
  flex: 0 0 50%;
}
.contact-us .title {
  padding-bottom: 1px;
}
.contact-us .title > h2 {
  text-align: left;
  font-size: 22px;
  color: #6d8084;
  margin: 0 0 30px 0;
}
.contact-us .title > p {
  text-align: start;
  font-family: "Manrope", sans-serif;
  font-size: 120px;
  font-weight: 600;
  color: #333333;
  line-height: 80%;
}
.contact-us .title > p > span {
  color: #ff1a1a;
}
@media (max-width: 768px) {
  .contact-us {
    flex-direction: column;
  }
  .contact-us .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.contact-us .contact-form {
  margin-top: 60px;
  max-height: 450px;
  border-radius: 50px;
  padding: 40px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.contact-us .contact-form .form-control {
  background-color: transparent;
  border-bottom: 1px solid rgb(182, 182, 182);
  box-shadow: none;
  height: 45px !important;
  width: 100%;
  color: #6d8084;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0;
}
.contact-us .contact-form input:hover,
.contact-us .contact-form textarea:hover,
.contact-us .contact-form #contact-submit:hover {
  border-bottom-color: #ff1a1a;
}
.contact-us .contact-form #contact-submit {
  background: #ff1a1a;
  color: #fff;
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 50px;
  border-radius: 2000px;
  transition: background-color 0.7s, color 0.8s;
  margin-top: 20px;
}
.contact-us .contact-form #contact-submit:hover {
  background-color: rgb(172, 10, 10);
}
.contact-us .contact-form textarea.form-control {
  padding: 10px;
  height: 48px !important;
  outline: none;
}
.contact-us .contact-info {
  width: 400px;
  text-align: center;
  margin-top: 50px;
}
.contact-us .contact-info .contact-short-info {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  color: #6d8084;
}
.contact-us .contact-info .contact-short-info h5 {
  font-size: 20px;
  font-weight: 800;
  color: rgba(51, 51, 51, 0.7764705882);
  margin: 20px 0 7px 0;
}

.services {
  background-color: #2c2f33;
}
.services .title > h2 {
  font-size: 22px;
  color: #6d8084;
  text-align: initial;
  margin: 120px 0 30px 0;
}
.services .title > p {
  text-align: initial;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: -3.5px;
  color: #fff;
  line-height: 75px;
}
.services .title > p > span {
  color: #ff1a1a;
}
.services .wrapper {
  padding-top: 80px;
  padding-bottom: 120px;
  max-width: 100%;
  margin: 0 auto;
}
.services .card {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  max-height: 600px;
  margin: auto;
  top: 30px;
  position: sticky;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: url("../images/services/card-bg.jpg");
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 20px;
}
.services .card .card-text {
  height: 100%;
  padding: 50px 60px;
}
.services .card .card-text h2 {
  color: #ff1a1a;
  letter-spacing: -0.05em;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}
.services .card .card-text span {
  display: block;
  color: #6d8084;
  font-size: 20px;
  line-height: 130%;
  color: #6d8084;
  margin-bottom: 40px;
}
.services .card .card-text p {
  font-size: 18px;
  font-weight: 600;
  color: #6d8084;
  margin-top: 40%;
}
.services .card .card-img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  margin: auto;
  background-color: #7a9070;
  overflow: hidden;
}
.services .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .card:nth-child(1n) {
  top: 20px;
}
.services .card:nth-child(2n) {
  top: 40px;
}
.services .card:nth-child(3n) {
  top: 60px;
}
.services .card:nth-child(4n) {
  top: 80px;
}
.services .card:nth-child(5n) {
  top: 100px;
}
.services .card:nth-child(6n) {
  top: 120px;
}
.services .card:nth-child(7n) {
  top: 140px;
}
.services .card:nth-child(8n) {
  top: 160px;
}

.solutions {
  background-color: #2c2f33;
}
.solutions .title h2 {
  font-size: 22px;
  color: #6d8084;
  margin: 70px 0 30px 0;
}
.solutions .title p {
  font-size: 65px;
  font-weight: 900;
  color: #fff;
  line-height: 70px;
}
.solutions .title p > span {
  color: #ff1a1a;
}
.solutions .list-container {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}
.solutions .list-container::-webkit-scrollbar {
  width: 0px;
}
.solutions .ex-container {
  display: grid;
  grid-template-columns: 45% 55%;
  max-height: 650px;
  margin: 30px 0 100px 0;
}
.solutions .ex-container .image-container {
  flex: 1;
  margin-right: 20px;
  padding: 40px 50px 40px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.solutions .ex-container .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}
.solutions .ex-container .list-container {
  flex: 1;
  overflow-y: auto;
  background: url("/images/skills/ico-bg.png");
}
.solutions .ex-container .list-item {
  color: #6d8084;
  padding: 50px 10px 40px 0px;
  border-bottom: 0.5px solid #6d8084;
  cursor: pointer;
  box-shadow: none;
}
.solutions .ex-container .list-item p {
  margin-top: 40px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #6d8084;
}
.solutions .ex-container .list-item:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .solutions .ex-container {
    flex-direction: column;
  }
  .solutions .ex-container .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.team {
  padding: 100px 0;
  padding-bottom: 70px;
  background: #F6F6F6;
}
.team .team-member {
  background: #fff;
  margin-bottom: 30px;
}
.team .team-member .member-content {
  padding: 25px 0;
}
.team .team-member .member-content h3 {
  font-size: 20px;
  margin: 0 0 5px;
  color: #333;
}
.team .team-member .member-content span {
  font-size: 14px;
  color: #555;
}
.team .team-member .member-content p {
  color: #777;
  margin-top: 10px;
  padding: 0 15px;
}
.team .member-photo {
  overflow: hidden;
  position: relative;
}
.team .member-photo:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.team .member-photo img {
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.team .member-photo .mask {
  background: rgba(255, 26, 26, 0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  right: 0;
  cursor: pointer;
  padding: 0;
  height: 80px;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team .member-photo .mask ul {
  text-align: center;
  position: relative;
  margin-top: 22px;
}
.team .member-photo .mask ul li {
  display: inline-block;
  margin-right: 7px;
}
.team .member-photo .mask ul li a {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}
.team .member-photo .mask ul li a::hover {
  background-color: #6cb670;
  border: 1px solid transparent;
}
.team .member-photo:hover .mask {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.testimonial {
  padding: 100px 0;
  padding-bottom: 70px;
  background: url("/images/light-site-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 0px;
}
.testimonial:before {
  background: rgba(59, 59, 59, 0.2);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.testimonial .item i {
  font-size: 60px;
  color: #fff;
  margin-bottom: 50px;
  display: inline-block;
}
.testimonial .item .client-details {
  padding-bottom: 30px;
}
.testimonial .item .client-details p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #6d8084;
  font-weight: 800;
  padding: 0 10%;
}
.testimonial .item .client-thumb img {
  display: inline-block;
  border-radius: 100%;
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}
.testimonial .item .client-meta {
  margin: 20px 0 100px 0;
  font-family: "Manrope", sans-serif;
  color: #ff1a1a;
}

.blog {
  padding: 80px 0 100px 0;
  margin: 0;
  background-color: #2c2f33;
  color: white;
  font-family: "DM Mono", monospace;
}
.blog .title {
  margin-bottom: 40px;
}
.blog .title h2 {
  font-size: 22px;
  color: #6d8084;
  margin: 70px 0 30px 0;
}
.blog .title p {
  width: 70%;
  font-size: 65px;
  font-weight: 900;
  color: #fff;
  line-height: 70px;
}
.blog .title p > span {
  color: #ff1a1a;
}
.blog a {
  text-decoration: none;
}
.blog .blog-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}
.blog .blog-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.blog .blog-list::-webkit-scrollbar-thumb {
  background: #383d43;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 24%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.blog .blog-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #383d43, #383d43 1px, #2c2f33 0, #2c2f33);
}
.blog .card {
  height: 450px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 35px;
  background: #383d43;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}
.blog .card:focus-within ~ .card,
.blog .card:hover ~ .card {
  transform: translateX(130px);
}
.blog .card:hover {
  transform: translateY(-1rem);
}
.blog .card:not(:first-child) {
  margin-left: -130px;
}
.blog .card-header {
  margin-bottom: auto;
}
.blog .card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a8c7a;
}
.blog .card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: #ff1a1a;
  border: 0;
  display: inline-block;
  cursor: pointer;
}
.blog .card-header h2:hover {
  background: rgb(172, 10, 10);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.blog .card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}
.blog .author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}
.blog .author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.blog .author-name {
  grid-area: auto;
  box-sizing: border-box;
}
.blog .author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}
.blog .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff1a1a;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.blog .tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}
.blog .tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #242f26;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}
.blog .tags a:hover {
  background: #ff1a1a;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.blog-details h3 {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
}

.partners {
  padding: 30px 0;
  background: #e2e2e4;
  color: #fff;
}
.partners .clients-logo-slider {
  margin-bottom: 20px;
}
.partners .clients-logo-slider img {
  color: #fff;
}

.top-footer {
  background-color: #2c2f33;
  padding: 100px 0 80px;
}
.top-footer h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #6d8084;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.top-footer p {
  font-size: 13px;
  line-height: 25px;
  color: #6d8084;
  font-weight: 300;
  letter-spacing: 1px;
  padding-right: 20px;
}
.top-footer li a {
  font-size: 13px;
  line-height: 30px;
  color: #6d8084;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color 0.3s;
  font-family: "Manrope", sans-serif;
  display: block;
}
.top-footer li a:hover {
  color: #ff1a1a;
}

.footer-bottom {
  text-align: center;
  background-color: #25272a;
  padding: 30px 0;
}
.footer-bottom h5 {
  font-size: 12px;
  line-height: 1;
  color: #6d8084;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
}
.footer-bottom h6 {
  font-size: 11px;
  line-height: 15px;
  color: #888888;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.footer-bottom a {
  color: #ff1a1a;
}

/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 700px) and (max-width: 1090px) {
  .counters-item:before {
    display: none;
  }
}
@media (min-width: 980px) and (max-width: 1150px) {
  /* parallax section */
  .parallax-section {
    background-position: center top !important;
  }
  /* about us */
  .feature-desc h3 {
    margin-top: 0;
  }
  /* our team */
  .team-mate {
    margin-bottom: 30px;
  }
  .mask ul {
    top: 85px;
  }
  .mask ul li {
    margin: 0 5px;
  }
  .team-mate > h4 {
    margin-bottom: 10px;
  }
  .team-mate img {
    margin: 0 auto;
  }
  .member-info ul li {
    margin-right: 10px;
  }
  /* testimonial */
  .client-info {
    width: 55%;
  }
  /* blog page */
  .tab-post-nav li a {
    padding: 15px 8px;
  }
  /* single blog page */
  .author-bio h5 {
    margin-left: 70px;
  }
}
/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  .counters-item:before {
    display: none;
  }
  /* parallax section */
  .parallax-section {
    background-position: center top !important;
  }
  /* navigation */
  .navbar-inverse .navbar-nav li a {
    padding: 20px 10px;
  }
  /* about us */
  .wrap-about {
    margin: 0 0 75px;
  }
  .about-content {
    margin: 0 auto;
    width: 60%;
  }
  /* fun facts */
  #counter {
    padding-bottom: 50px;
  }
  .counters-item {
    margin-bottom: 30px;
  }
  /* our team */
  .team-mate {
    margin: 0 auto 30px;
    width: 280px;
  }
  /* our skills */
  .skill-chart {
    margin: 0 auto 40px;
    width: 300px;
  }
  .skill-chart {
    margin: 0 auto 40px;
    width: 90%;
  }
  .skill-chart > h3 {
    margin: 15px 0;
  }
  /* pricing table */
  .pricing {
    margin: 0 auto 30px;
    width: 300px;
  }
  /* testimonial */
  .client-info {
    width: 75%;
  }
  /* latest posts */
  .note {
    margin-bottom: 30px;
  }
  /* blog page */
  .tab-post-nav li a {
    padding: 10px;
  }
  /* singla blog page */
  .author-social {
    margin-left: 0;
  }
}
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  .counters-item:before {
    display: none;
  }
  .clients-logo-slider {
    text-align: center;
  }
  /* parallax section */
  .parallax-section {
    background-position: center top !important;
  }
  /* h1 font size home slider */
  h1 {
    font-size: 30px;
  }
  .wrap-about {
    margin: 0 auto 80px;
    width: 85%;
  }
  .feature-desc a {
    margin: 5px 5px 5px 0;
  }
  /* fun facts */
  /* services */
  #services .title {
    padding-bottom: 60px;
  }
  /* our skills */
  .skill-chart {
    margin: 0 auto 40px;
    width: 280px;
  }
  /* our team */
  .team-mate {
    margin: 0 auto 31px;
    width: 280px;
  }
  .team-mate img {
    margin: 0 auto;
  }
  .member-info ul {
    text-align: center;
    margin-bottom: 10px;
  }
  /* pricing table */
  .pricing {
    margin: 0 auto 20px;
    width: 280px;
  }
  /* portfolio */
  .portfolio-filter ul li a {
    margin: 0 10px 10px 0;
    padding: 5px 10px;
  }
  /* testimonials */
  .sub-title h3 {
    font-size: 18px;
  }
  .client-info {
    width: 100%;
  }
  /* latest posts */
  .note {
    margin-bottom: 30px;
  }
  .note .excerpt {
    padding: 0 20px 20px;
  }
  .all-post {
    margin: 20px 0 30px;
  }
  /* contact */
  .contact-info {
    margin: 0 0 30px;
  }
  #map-canvas {
    height: 250px;
  }
  /* footer */
  .social-icon ul li,
  .social-icon ul li:first-child {
    margin: 15px;
  }
  .social-icon ul li a {
    width: 50px;
    height: 50px;
  }
  .social-icon ul li a i {
    font-size: 24px;
    line-height: 50px;
  }
  .blog-title h1 {
    font-size: 28px;
  }
  /* blog page */
  #blog-page {
    margin: 0;
  }
  #blog-posts {
    margin: 0 0 40px;
  }
  .post-excerpt h3 {
    font-size: 20px;
  }
  .post-pagination ul li {
    margin: 0 10px 10px 0;
  }
  .tab-post-nav li a {
    padding: 8px 5px;
  }
  /* single blog page */
  .author-social {
    margin-left: 0;
  }
  .author-avatar {
    margin-right: 10px;
  }
}
/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .title h2 {
    font-size: 32px;
  }
  .counter .counter-title h2 {
    font-size: 35px;
  }
  /* about us */
  .wrap-about {
    margin: 0 auto 75px;
    width: 70%;
  }
  /* our team */
  .team-mate {
    margin: 0 auto 30px;
    width: 280px;
  }
  .team-mate img {
    margin: 0 auto;
  }
  /* portfolio */
  .og-grid li {
    width: 245px;
  }
  /* skills */
  .skill-chart {
    margin: 0 auto 40px;
    width: 300px;
  }
  /* pricing table */
  .pricing {
    margin: 0 auto 30px;
    width: 350px;
  }
  /* testimonials */
  .client-info {
    width: 74%;
  }
  /* latest posts */
  .note {
    margin: 0 auto 30px;
    width: 75%;
  }
  /* contact */
  .contact-info {
    width: 100%;
  }
  /* blog page */
  .tab-post-nav li a {
    padding: 10px 15px;
  }
}

/*# sourceMappingURL=style.css.map */
