$light: #fff;
$black: #000;
$primary-color: #ff1a1a;
$second-color: rgb(172, 10, 10);
$text-color: #6d8084;
$card-bg_color: #383d43;
$dark-bg_color: #2c2f33;
$light-bg_color: #e2e2e4;
$primary-font:'Manrope', sans-serif;
$secondary-font: 'Catamaran', sans-serif;