.partners {
    padding:30px 0;
    background: $light-bg_color;
    color: $light;
    
    .clients-logo-slider {
        img {
            color: $light;
        }
        margin-bottom: 20px;
    } 
}